<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><header>
    <section>
        <img src="/imagenes/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></section>
        <section>
            <input class="" type="text"></section>
            <section>
                <h1> Comprá en cuotas y sin tarjeta de crédito
            </h1></section>
            <section>
                <ul>
                    <li> Ofertas</li>
                    <li> Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li> Ayuda</li>
            </ul></section>
            <section>
                <ul>
                    <li>Creá tu cuenta</li>
                    <li>Ingresá</li>
                    <li>Mis compras</li>
                </ul></section>
                <section><img src="/imagenes/img-home-banner.jpg" alt="imagen home">
                </section>

    </header>
    <main>
        <section>
            <h1> Basado en tu última visita</h1></section>
        <section>
            <img src="/imagenes/img-cafetera-moulinex.jpg" alt="foto cafetera"></section>
            <section>
                <section>
                    <h3>$6.770</h3>
                    <h3>40% OFF</h3>
                    <h3>Cafetera Moulinex</h3></section>
                    
        <section>
            <img src="/imagenes/img-macbook-pro-2019.jpg" alt="notbook"></section>
            <section>
                <h3>$230.000</h3>
                <h3>20% off</h3>
                <h3>MacBook Pro 2019</h3>
            </section>

         <section>
            <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="foto del celu"></section>
            <section>
                <h3>$70.500</h3>
                <h3>10% off</h3>
                <h3>Samsung Galaxy S10</h3>
            </section>
           <section>
            <img src="/imagenes/img-tv-samsung-smart.jpg" alt="foto tv"></section>
            <section>
                <h3>$23.200</h3>
                <h3>5% off</h3>
                <h3>SmartTv Samsung 43"</h3>
            </section>
            <section>
                <h2>Sección de Ofertas</h2>
            <article>
                <div><img src="/imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>
        <article>
            <div><img src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">
            </div>
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
    <article>
        <div><img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Samsung">
        </div>
        <p>$70.500</p>
        <p>10% off</p>
        <h4>Samsung Galaxy S10</h4>
    </article>
<article>
    <div><img src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv">
    </div>
    <p>$23.200</p>
    <p>5% off</p>
    <h4>SmartTv Samsung 43"</h4>
</article></section>
               </main>
   
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></section>
                <section>
                    <h3> Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p></section>
                    <section>
                        <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                        </p></section>
                        <section>
                            <h3>● Copyright © 1999-2020 MercadoLiebre S.R.L</h3>
                        </section>
                        <section>
                            <h2>Mockup del micro desafio:</h2>
                        </section>
                        <section>
                            <h3></h3>
                        </section>

    </footer>
    
</body>
</html>