<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/f0f7d78f92.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MercadoLiebreEstilo</title>
</head>



<body>
    <header>
        <section class="home__header">
            <article class="logo">
                <div>
                    <img src="/imagenes/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                </div>
            </article>

            <form class="home__header__buscador">
                <input class="texto" type="texto" id="Buscar productos , marcas"
                    placeholder="Buscar productos , marcas .">
                <button class="icono"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <article>
                <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito</p>
            </article>

            <article class="home__header--lista">
                <ul class="ofertas">
                    <li> Ofertas</li>
                    <li> Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li> Ayuda</li>
                </ul>
            </article>
            <article>
                <ul class="logi">
                    <li>Creá tu cuenta<i class="fa-solid fa-address-card"></i></li>
                    <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                    <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </article>
            <div class="home__header__burger">
                <i class="fas fa-bars"></i>
            </div>
            <article class="banner">
                <img dir="banner" src="/imagenes/img-home-banner.jpg" alt="imagen home" width="800">
            </article>
        </section>
    </header>


    <main class="home">
        <section class="home__main__cotainer">
            <h1 class="home__main"> Basado en tu última visita</h1>
            <article class="home__main__descripcion">
                <img dir="cafetera" src="/imagenes/img-cafetera-moulinex.jpg" alt="foto cafetera">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$6.770</p>
                    <p class="off">40% off</p>
                    <h4 class="cafetera">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="home__main__macbook--lista">
                <img dir="macbook" src="/imagenes/img-macbook-pro-2019.jpg" alt="notbook">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$230.000</p>
                    <p class="off">20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="home__main__galaxy-lista">
                <img dir="galaxy" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="foto del celu">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$70.500</p>
                    <p class="off">10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="home__main__smart--lista">
                <img dir="smart" src="/imagenes/img-tv-samsung-smart.jpg" alt="foto tv">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$23.200</p>
                    <p class="off">5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
            <h2 class="Sección__de__Ofertas"> Ofertas</h2>
            <article class="home__main__off__cafetera--lista">
                <img dir="off-cafetera" src="/imagenes/img-cafetera-moulinex.jpg" alt="cafetera">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$6.770</p>
                    <p class="off">40% off</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="home__main__off__macbook--lista">
                <img dir="macbook" src="/imagenes/img-macbook-pro-2019.jpg" alt="MacBook">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$230.000</p>
                    <p class="off">20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="home__main__off__galaxy--lista">
                <img dir="galaxy" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$70.500</p>
                    <p class="off">10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="home__main__off__smart--lista">
                <img src="/imagenes/img-tv-samsung-smart.jpg" alt="SmartTv">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p>$23.200</p>
                    <p class="off">5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer__container">
        <section class="footer__container__tarjeta">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3 class="footer__tarjeta__pago">Pagá con tarjeta o en efectivo</h3>
                <p class="footer__tarjeta__parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo
                    en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="footer__container__regalo">
                <i class="fa-solid fa-gift"></i>
                <h3 class="footer__regalo__emvio"> Envío gratis desde $ 2.500</h3>
                <p class="footer__regalo__parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles
                    de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="footer__container__segurdaid">
                <i class="fa-solid fa-user-shield"></i>
                <h3 class="footer__seguridad__texto">Seguridad, de principio a fin</h3>
                <p class="footer__seguridad__parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas
                    hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <a class="footer__srl"> Copyright © 1999-2020 MercadoLiebre S.R.L</a>
        </section>
    </footer>
</body>

</html>