@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import'./footer.css';
@import './header.css';
@import'./home.css';









header {
  
  background-color:var(--colorAmarillo);
  
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

} 


 li {
  list-style: none; 
}
 ul, ol {
 padding: 0; 
} 
