@import "./general.css";



:root {
  --colorAmarillo: #EAC926;
  --colorAzul: #03264C;
  --colorCeleste: #1259c3;
  --colorGrisoscuro: #666;
  --colorGrisclaro: #ebebeb;
  --colorVerde: #39b54a;
  --Cuerposdetexto: 12px;
  --TitularesBasadúltimavisitaOfertas: 24px;
  --Precios: 18px;
  --Descuentos: 16px;
  --Descripciones: 16px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }


/* MAIN */





@media (min-width: 1024px) {

}


@media handheld, only screen and (max-width: 767px) {
  
 li {
 display: none;
}
 ul, ol {
display: none; 
} 
  }